global
  log stdout format raw local0

defaults
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend vminsert
  bind :8480
  default_backend vminsert_nodes

backend vminsert_nodes
  balance roundrobin
  option httpchk GET /health
  server vminsert_a vminsert:8480 check
  server vminsert_b vminsert-b:8480 check

frontend vmselect
  bind :8481
  default_backend vmselect_nodes

backend vmselect_nodes
  balance roundrobin
  option httpchk GET /health
  server vmselect_a vmselect:8481 check
  server vmselect_b vmselect-b:8481 check
